target/
build/
out/
*.jar
!IranianHardcore-*.jar
!gradle-wrapper.jar
.gradle/
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
/plugins/
/world/
/world_nether/
/world_the_end/
/logs/
server.properties
bukkit.yml
spigot.yml
paper.yml
